xsdSchemas/CarModelSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:complexType name="CarModel">
		<xs:sequence>
			<xs:element name="id" type="xs:int"/>
			<xs:element name="manufacturer" type="xs:string"/>
			<xs:element name="model" type="xs:string"/>
			<xs:element name="gear" type="xs:string"/>
			<xs:element name="power" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
